version: '3.8'

services:
  historical-data-gatherer:
    image: ${DOCKER_IMAGE:-local-llm-project}
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./chroma_db_new:/app/chroma_db_new
      - ./logs:/app/logs
    environment:
      - PYTHONPATH=/app
    command: python -m historical_data_preparation.parser_smart_lab

  realtime-evaluator:
    image: ${DOCKER_IMAGE:-local-llm-project}
    build:
      context: .
      dockerfile: Dockerfile
    container_name: realtime-evaluator
    restart: unless-stopped
    volumes:
      - ./chroma_db_new:/app/chroma_db_new
      - ./problematic_urls.csv:/app/problematic_urls.csv
      - ./logs:/app/logs
    environment:
      - PYTHONPATH=/app
      # - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN:-your_dev_token}
    command: python -m llm_prediction.predictor_main
